@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    font-size: 12px;

    /* Colors */
    --primary-color: #b1bace; /* #4376e7 */
    --secondary-color: #ffa73e;
    --background-color: #87BDFF;
    --color-firstGradient: #b1bace;
    --color-txt: white;
    --color-yellow: rgb(255, 252, 49);
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/cloud3.mini.jpg);
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);

}

/* HEADER  */
.header {
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo-mobile {
    width: 15%;
}
.header-logo-desktop{
    display: none;
}

.header-ttl {
    background: -webkit-linear-gradient(0.45turn, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-size: 3rem;
}

.header-form {
    display: grid;
    grid-template-columns: 1fr 45px;
    padding-top: .5rem;
}

.input-ville, .input-button-ville{
    border: none;
}

.input-ville{
    padding: 0 1rem;
    font-size: 1.5rem;
    border-radius: 2.4rem 0 0 2.4rem;
    text-align: center;
    height: 3rem;
    width: 100%;
}
.input-button-ville{
    border-radius: 0 2.4rem 2.4rem 0;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.input-ttl{
    color: var(--color-yellow);
    display: none;
    justify-content: center; 
    align-items: center;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    height: 50vh;   
}

.displayF{
    display: flex;
}
.displayN{
    display: none;
}

/* AUTOCOMPLETE */
.autocomplete{
    position: relative;
    display: inline-block;
    color: black;
}

.autocomplete-items{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    right: 0;
    width: 95.5%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.input-autocomplete{
    color: black;
}

@media screen and (min-width: 768px){
    .header{
        width: 75%;
        margin: 0 auto;
    }
    .header-ttl{
        display: none;
    }
    .header{
        display: flex;
        border-bottom: 1.5px solid white;
    }
    .header-logo-mobile{
        display: none;
    }
    .header-logo-desktop{
        width: 8rem;
    }
    .header-form {
        height: 3rem;
        width: 100%;
    }
    .input-ville, .input-button-ville{
        height: 3.5rem;
    }
    .autocomplete-items{
        width: 93%;
    }
}

/* MAIN */
.main{
    position: relative;
}

.button-localisation-ttl{
    position: absolute;
    top: 1%;
    right: 2%;
    border: none;
    background: none;
    width: 5rem;
    height: 3rem;
    cursor: help;
}

.button-localisation{
    display: none;
    border: none;
    background: none;
    width: 100%;
}

.icon-localisation{
    color: red;
    font-size: 3rem;
}

.displayG{
    display: grid;
}

.first-content{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-content-ttl{
    display: flex;
    flex-direction: column;
}

.add-favorite{
    font-size: 2rem;
    color: rgb(176, 177, 187);
    align-self: flex-end;
}
.add-favorite:hover{
    color: rgb(221, 226, 161);
}

.city-ttl{
    padding-top: .5rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;
    color: var(--color-txt);
}

.conditions{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row-gap: .5rem;
    align-items: center;
    width: 100%;
}

.conditions, .sun-conditions, .weatherTown dd, .city-ttl{
    text-shadow: 0 .2rem .5rem black;
}

.list{
    font-size: 1.4rem;
    color: var(--color-txt);
}

.icon-th, .icon-ws{
    width: 20%;
}
.icon-c{
    width: 6.5rem;
}
#list-cd{
    height: 6rem;
}
.conditions-data{
    font-size: 2rem;
}

@media screen and (min-width: 768px){
    .first-content{
        grid-template-columns: 30% 50% 20%;
        width: 75%;
        margin: 2rem auto;
    }
    .city-ttl{
        font-size: 2.5rem;
    }
    .country-ttl{
        font-size: 2rem;
    }
    .header-logo-desktop{
        display: block;
    }
    .conditions{
        font-size: 1.8rem;
        border-left: 1px solid white;
        border-right: 1px solid white;
        margin: 0 auto;
    }
    .list{
        font-size: 1.6rem;
    }
    .input-ttl{
        font-size: 8rem;
    }
    .button-localisation-ttl{
        top: 1%;
        right: 13%;
    }
    .icon-th, .icon-ws{
        width: 25%;
    }
    .icon-c{
        width: 7.5rem;
    }

}

/* ASTRONOMY */
.sun-conditions{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
}

.icon-sunrise, .icon-sunset{
    width: 30%;
}

.sunrise-conditions, .sunset-conditions{
    font-size: 2rem;
}

sup{
    font-size: .7rem;
}

@media screen and (min-width: 768px) {
    .sun-conditions{
        width: 99%;
    }
    .sun-list{
        width: 100%;
    }
    .icon-sunrise, .icon-sunset{
        width: 80%;
    }
    .sunrise-conditions, .sunset-conditions {
        margin-left: 0;
    }
}

.aq-button{
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 2rem;
    height: 2rem;
    width: 3rem;
}
.airQual{
    font-size: 1rem;
}
.t-container{
    display: flex;
    justify-content: center;
    width: 75%;
}

table {
    table-layout: fixed;
    width: 100%;
}
thead{
    border-bottom: 1px solid white;
}
tbody tr td{
    text-align: center;
}